.footer {
  border-top: 5px solid #000000;
  width: 100%;
  height: 30%;
  bottom: 0%;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: row;
  display: flex;
  position: relative;
}

#social {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  margin: 10px;
  width: 60px;
  height: 60px;
  transition: 0.5s;
}
#social::before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
#social:hover {
  box-shadow: 0 0 3px #000000;
}

.element {
  width: 100%;
  height: 100%;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #007724;
  }
}
