#name {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 90px;
  margin: 30px;
}

#text {
  padding-top: 15px;
  display: inline-block;
  list-style-type: none;
  display: block;
  position: relative;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: 1s;
}
#text:hover {
  box-shadow: 0 0 3px #1f8400;
  background-color: #1f8400;
}

@media screen and (max-width: 900px) {
  header {
    font-size: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #text {
    font-size: 15px;
    min-width: 10px;
  }
}

@media screen and (max-width: 400px) {
  header {
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #text {
    position: fixed;
    display: flex;
    font-size: 15px;
  }
}

@media screen and (max-width: 200px) {
  header {
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #text {
    position: fixed;
    display: flex;
    font-size: 10px;
  }
}
